@charset "UTF-8";

@font-face {
  font-family: Tektur;
  src: url(/fonts/Tektur-Black.woff2);
  font-weight: 900;
}

@font-face {
  font-family: Tektur;
  src: url(/fonts/Tektur-SemiBold.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.woff2);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 400;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background: #04090F;
}

body._lock {
  overflow: hidden;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  font-size: inherit;
  border: none;
  background: none;
}

img {
  display: block;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #04090F;
  border-bottom: 2px solid #C2368C;
}

.header__container {
  margin: 0 auto;
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 7rem;
}

.header__logo {
  font-size: 3rem;
  z-index: 5;
  font-family: Tektur;
  color: #fff;
  font-weight: 900;
}

.header__logo span {
  margin-left: 0.5rem;
  font-size: 3rem;
  font-family: Tektur;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #EC1D68), color-stop(90%, #C2368C));
  background: linear-gradient(180deg, #EC1D68 10%, #C2368C 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  gap: 2.9rem;
}

.menu__link {
  color: #fff;
  font-family: Tektur;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu__link:hover {
  text-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  color: #EC1D68;
}

.menu__language {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.language__en,
.language__ru {
  font-family: Tektur;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.language__en:hover,
.language__ru:hover {
  color: #EC1D68;
}

.home {
  padding: 10rem 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8%;
}

.home__container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home__left {
  display: grid;
}

.home__subtitle {
  font-size: 3rem;
  color: #fff;
  font-family: Tektur;
  font-weight: 500;
  margin-bottom: 1.5rem;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.home__title {
  position: relative;
  font-size: 7.5rem;
  font-family: Tektur;
  font-weight: 900;
  margin-bottom: 1.5rem;
  -webkit-animation-name: moveInRight;
  animation-name: moveInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.home__title span {
  position: relative;
  font-size: 7.5rem;
  font-family: Tektur;
  font-weight: 900;
  margin-bottom: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #EC1D68), color-stop(90%, #C2368C));
  background: linear-gradient(180deg, #EC1D68 10%, #C2368C 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.home__text {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3.5rem;
}

.social__home-block {
  justify-self: center;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  background: transparent;
}

.social-link {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  -webkit-transition: all 3s linear;
  transition: all 3s linear;
}

.social-link:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #EC1D68), color-stop(90%, #C2368C));
  background: linear-gradient(180deg, #EC1D68 10%, #C2368C 90%);
}

.social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4rem;
  background: transparent;
}

/* Блог картинка и текст по кругу */

.home__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: flyText 10s ease-in-out infinite;
  animation: flyText 10s ease-in-out infinite;
}

.home-img {
  position: absolute;
  width: 40rem;
  height: 40rem;
  border: 4px solid #EC1D68;
  background: url("/images/home.png");
  border-radius: 50%;
  background-size: cover;
}

.home__text-circle {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  -webkit-animation: rotateText 20s linear infinite;
  animation: rotateText 20s linear infinite;
}

.home__text-circle span {
  position: absolute;
  background: transparent;
  left: 50%;
  font-size: 1.8rem;
  -webkit-transform-origin: 0 22.5rem;
  transform-origin: 0 22.5rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  80% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  80% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  80% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  80% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateText {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes flyText {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes flyText {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.about {
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.container__about {
  padding: 0 15%;
}

.sub__section {
  font-size: 5rem;
  font-family: Tektur;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  margin-bottom: 2rem;
}

.about__container {
  margin-top: 7.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
}

.about__image {
  position: relative;
  justify-self: center;
}

.img__box {
  position: relative;
  width: 35rem;
  height: auto;
}

.liquid-shape {
  position: absolute;
  top: 15%;
  z-index: -1;
  width: 40rem;
  height: auto;
}

.liquid-shape:nth-child(2) {
  -webkit-filter: blur(60px);
  filter: blur(60px);
}

.about__info {
  justify-self: center;
}

.about__info_name,
.about__info_age,
.about__info_based {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  font-family: Tektur;
  margin-bottom: 1.5rem;
}

.about__info_name span,
.about__info_age span,
.about__info_based span {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: Poppins;
}

.about__info_text {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.skills {
  margin: 10rem 0;
  padding: 2rem 29%;
}

.sub__skills {
  font-size: 5rem;
  font-family: Tektur;
  font-weight: 900;
  text-align: right;
  text-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  margin-bottom: 5rem;
}

.skils__block h2 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.progress-bar {
  background-color: #fff;
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
  height: 1.5rem;
  width: 50%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #EC1D68), color-stop(90%, #C2368C));
  background: linear-gradient(180deg, #EC1D68 10%, #C2368C 90%);
}

.progress-bar div span {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background: #04090F;
  border: 3px solid #EC1D68;
  float: right;
  margin-right: -2rem;
  margin-top: -1.5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.8rem;
}

.progress-bar .blender {
  width: 90%;
}

.progress-bar .photoshop {
  width: 60%;
}

.progress-bar .aft-eff {
  width: 75%;
}

.progress-bar .unity {
  width: 85%;
}

.progress-bar .max {
  width: 95%;
}

.service {
  padding: 5rem 0;
}

.sub__service {
  font-size: 5rem;
  font-family: Tektur;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  margin-bottom: 12rem;
}

.service__container-big {
  position: relative;
  margin: 0 auto;
  display: grid;
  width: 110rem;
}

.service__container {
  padding: 1rem 3rem;
  position: relative;
  border-radius: 10px;
  width: 50rem;
  border: 3px solid #EC1D68;
}

.right-container {
  justify-self: flex-end;
}

.left-container {
  left: 0;
}

.service__container-big::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 110%;
  border: 3px solid #EC1D68;
  border-radius: 5px;
  top: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.service__title {
  font-family: Tektur;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

.service__text {
  font-size: Poppins;
  font-size: 1.6rem;
}

.service__left-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 30px solid #EC1D68;
  right: -30px;
}

.service__right-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 30px solid #EC1D68;
  left: -30px;
}

.portfolio {
  margin-top: 4rem;
  padding: 5rem 8%;
}

.sub__portfolio {
  font-size: 5rem;
  font-family: Tektur;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  margin-bottom: 5rem;
}

.portfolio__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2rem auto;
}

.portfolio__box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.portfolio__box ul li {
  list-style: none;
  padding: 1.2rem 2rem;
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
  font-family: Tektur;
  font-weight: 500;
  -webkit-transition: color 0.4 ease-in;
  transition: color 0.4 ease-in;
}

.portfolio__box ul li.active {
  color: #EC1D68;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.itemBox {
  position: relative;
  width: 30rem;
  height: 21.1rem;
  margin: 5px;
  display: block;
  overflow: hidden;
  border: 2px solid #EC1D68;
  border-radius: 10px;
}

.products .itemBox.hide {
  display: none;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.products .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.products .itemBox img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.form {
  margin-top: 2.5rem;
  padding: 0 8%;
  padding-bottom: 2rem;
}

.sub__form {
  font-size: 5rem;
  font-family: Tektur;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  margin-bottom: 5rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}

form input {
  outline: none;
  width: 60rem;
  max-width: 100%;
  font-size: 3rem;
  height: 6.2rem;
  border: 2px solid #EC1D68;
  color: #EC1D68;
  background: transparent;
  padding-left: 2rem;
  border-radius: 1rem;
}

input::-webkit-input-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

input::-moz-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -moz-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

input:-ms-input-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

input::-ms-input-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

input::placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

textarea {
  outline: none;
  width: 60rem;
  max-width: 100%;
  font-size: 3rem;
  padding-top: 1.5rem;
  height: 25rem;
  border: 2px solid #EC1D68;
  color: #EC1D68;
  background: transparent;
  padding-left: 1.8rem;
  border-radius: 1rem;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

textarea::-moz-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -moz-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

textarea::placeholder {
  color: #fff;
  font-size: 2.5rem;
  font-family: Tektur;
  font-weight: 500;
  padding-left: 2rem;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::placeholder {
  opacity: 0;
}

.form button {
  margin-top: 4rem;
  font-size: 3rem;
  font-family: Tektur;
  font-weight: 900;
  width: 25rem;
  height: 7.6rem;
  border: 2px solid #EC1D68;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.form button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #EC1D68), color-stop(90%, #C2368C));
  background: linear-gradient(180deg, #EC1D68 10%, #C2368C 90%);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  font-size: 3.5rem;
  border: 2px solid #fff;
}

.footer {
  padding: 0 8%;
}

.first__footer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
}

.first__footer span {
  font-size: 2rem;
}

.sub__footer {
  font-size: 5rem;
  font-family: Tektur;
  font-weight: 900;
  text-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
}

.second__footer {
  margin-top: 10rem;
  height: 5rem;
}

.second__footer span {
  display: block;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1100px) {
  .menu__list {
    font-size: 1.5rem;
    gap: 2rem;
  }

  .menu__language {
    font-size: 1.5rem;
    gap: 1.5rem;
  }

  .home__container {
    grid-template-columns: 1fr 32rem;
  }

  .circle {
    width: 30rem;
    height: 30rem;
  }

  .home-img {
    width: 25rem;
    height: 25rem;
  }

  .home__text-circle span {
    font-size: 1.8rem;
    -webkit-transform-origin: 0 15rem;
    transform-origin: 0 15rem;
  }

  .about__container {
    grid-template-columns: 1fr;
    grid-template-rows: 35rem 1fr;
    gap: 2rem;
  }

  .about__info {
    text-align: center;
  }

  .about__image {
    margin: 0 auto;
  }

  .img__box {
    width: 30rem;
  }

  .liquid-shape {
    width: 30rem;
  }

  .about__info_name {
    margin-top: 2rem;
  }

  .skills {
    margin: 2rem 0;
    padding: 0 10%;
  }

  .sub__skills {
    text-align: center;
    margin-bottom: 3rem;
  }

  .service__container-big {
    width: 90rem;
  }

  .service__container {
    width: 35rem;
  }

  .portfolio__box ul {
    gap: 1.5rem;
  }

  .portfolio__box ul li {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .menu__link {
    font-size: 1.6rem;
  }

  .menu__list {
    gap: 2rem;
  }

  .menu__language {
    gap: 1.5rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 925px) {
  .sub__service {
    margin-bottom: 5rem;
  }

  .left-container,
  .right-container {
    justify-self: center;
    margin-bottom: 3rem;
  }

  .service__container-big::after {
    display: none;
  }

  .service__right-arrow,
  .service__left-arrow {
    display: none;
  }

  .service__container-big {
    width: 110rem;
    max-width: 100%;
    padding: 0 10%;
  }

  .service__container {
    width: 100%;
  }

  .portfolio {
    margin-top: 1rem;
    padding-top: 0rem;
  }

  .portfolio__box ul {
    gap: 0.5rem;
  }

  .portfolio__box ul li {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .header__logo {
    font-size: 2.5rem;
  }

  .header__logo span {
    font-size: 2.5rem;
  }

  .home__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .home__left {
    padding-top: 10rem;
  }

  .circle {
    width: 20rem;
    height: 20rem;
  }

  .home-img {
    width: 15rem;
    height: 15rem;
  }

  .home__text-circle span {
    font-size: 1.4rem;
    -webkit-transform-origin: 0 10rem;
    transform-origin: 0 10rem;
  }

  .home__title {
    font-size: 4rem;
  }

  .home__title span {
    font-size: 4rem;
  }

  .home__subtitle {
    font-size: 2rem;
  }

  .home__text {
    font-size: 1.6rem;
  }

  .social__home-block {
    width: 26rem;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
  }

  .header__menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
  }

  .menu__icon::after,
  .menu__icon::before {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    width: 70%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #EC1D68), color-stop(90%, #C2368C));
    background: linear-gradient(180deg, #EC1D68 10%, #C2368C 90%);
    -webkit-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
    -webkit-box-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
    box-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
    -webkit-box-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
    box-shadow: 0 0 10px rgba(235, 30, 105, 0.952), 0 0 20px rgba(235, 30, 105, 0.952), 0 0 30px rgba(235, 30, 105, 0.952), 0 0 40px rgba(235, 30, 105, 0.952), 0 0 70px rgba(235, 30, 105, 0.952);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #04090F;
    padding-top: 100px;
    padding-right: 1rem;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: 20px;
  }
}

@media (max-width: 510px) {
  .form button {
    margin-top: 4rem;
    font-size: 2rem;
    width: 20rem;
    height: 4.6rem;
  }

  .form button:hover {
    font-size: 2.5rem;
  }
}